<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>

  <!-- Meta -->
  <meta charset='utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='shortcut icon' href='assets/images/favicon.ico' />
  {% if description %}<meta name='description' content='{{ description }}'/>{% endif %}
  {% if tags %}<meta name='keywords' content='{{ tags|join(', ') }}'/>{% endif %}

  <!-- CSS -->
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
  <link href='/public/styles.css' rel='stylesheet' type='text/css'/>
</head>
<body{% if pageclass %} class='{{ pageclass }}'{% endif %}>
  <header id='header'>
    {% include "./header.html" %}
  </header>

  <section id='content'>
    {{ contents|safe }}
  </section>

  <footer id='footer'>
    {% include "./footer.html" %}
  </footer>

  <!-- JS -->
  <!--[if lt IE 9]><script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script><![endif]-->
  <script type='text/javascript' src='/public/scripts.js'></script>
  {% if gauges %}{% include "./gauges.html" %}{% endif %}
  {% if google_analytics %}{% include "./google_analytics.html" %}{% endif %}
</body>
</html>
