<section class='container'>
  <div class='row'>
    <div class='column full'>
      <a href='mailto:welcome@jingjs.org?Subject=[JingJS]%20General%20Inquiry' class='email'><span>Email</span></a>
      <a href='http://weibo.com/jingjs2014' class='weibo'><span>Weibo</span></a>
      <a href='https://twitter.com/jingjsconf' class='twitter'><span>Twitter</span></a>
      <a href='https://github.com/jsconfcn' class='github'><span>Github</span></a>
      <a href='http://jsconf.cn/' class='web'><span>http://jsconf.cn/</span></a>
    </div>
  </div>
  <div class='row'>
    <div class='column full'>
      <a href='code-of-conduct.html'>Code of conduct</a>
      <a href='http://creativecommons.org/licenses/by/3.0/'>CCA 3.0 License</a>
      <span>Built by <a href='http://jsconf.cn'>Wiredcraft</a></span>
    </div>
  </div>
</section>