<section class='container'>
  <div class='row'>
    <div class='column full'>
      <h3><a href='http://jsconf.cn/'>JSConf.cn</a></h3>
      <nav class='links'>
        <a href='code-of-conduct.html'>Code of conduct</a>
        <a href='http://weibo.com/jingjs2014' class='weibo'><span>Weibo</span></a>
        <a href='https://twitter.com/jingjsconf' class='twitter'><span>Twitter</span></a>
        <a href='https://github.com/jsconfcn' class='github'><span>Github</span></a>
      </nav>
      <nav class='credits'>
        <a href='http://creativecommons.org/licenses/by/3.0/'>CCA 3.0 License</a>
        <a href='http://wiredcraft.com'>Built by Wiredcraft</a>
      </nav>
    </div>
  </div>
</section>