<div id='mc_embed_signup'>
  <form action='http://wiredcraft.us2.list-manage2.com/subscribe/post?u=18eb8d6c34ad5d4e781541da9&amp;id=ce3898dd2e' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank' novalidate>
		<div class='mc-field-group'>
		  <label for='mce-EMAIL'>Email address <span class='asterisk'>*</span></label>
		<input type='email' value='' name='EMAIL' class='required email' id='mce-EMAIL' placeholder='you ji'>
		</div>
		<div class='mc-field-group'>
			<label for='mce-NAME'>Name </label>
			<input type='text' value='' name='NAME' class='' id='mce-NAME'>
		</div>
		<div id='mce-responses' class='clear'>
			<div class='response' id='mce-error-response' style='display:none'></div>
			<div class='response' id='mce-success-response' style='display:none'></div>
		</div>
		<div style='position: absolute; left: -5000px;'><input type='text' name='b_18eb8d6c34ad5d4e781541da9_ce3898dd2e' value=''></div>
		<div class='clear'><input type='submit' value='Subscribe' name='subscribe' id='mc-embedded-subscribe' class='button'></div>
  </form>
</div>